services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nillihc
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


# DATABASE_URL=postgres://user:password@db:5432/nillihc